<footer class="footer container page-footer">
<ul>
{% comment %}
<li><span class="terminal">λ</span> <a href="https://codeselfstudy.com/">Code Self Study</a></li>
<li>👥 <a href="https://forum.codeselfstudy.com/">Forum</a></li>
<li>🚀 <a href="https://codeselfstudy.com/learn/">Learn</a></li>
<li>⭐ <a href="https://codeselfstudy.com/about/">About</a></li>
<li>🖖 <a href="https://codeselfstudy.com/autism/">Autism</a></li>
{% endcomment %}
<li>🦊 <a href="https://www.mozilla.org/en-US/firefox/developer/" target="_blank">Get Firefox Developer Edition</a>
</li>
</ul>
</footer>
