// @import "~bulma/sass/utilities/initial-variables";
// @import "~bulma/sass/utilities/functions";

// based on Tomorrow Night colors
$blue: #83a1c1;
$purple: #ab93be;
$green: #b6be55;
$yellow: #eec765;
$red: #c96764;
$tomorrow-night: #26292c;
$code: darken($red, 15%);

$primary: $green;
$link: $blue;
$success: $purple;
$warning: $yellow;
$danger: $red;

// fonts
$family-monospace: "Source Code Pro", monospace;
$body-family: $family-monospace;

// text colors
$text: $blue;
$pre: $code;
$content-heading-color: $green;
$link: $purple;
$link-hover: $yellow;
$link-active: lighten($yellow, 15%);
$text-strong: lighten($text, 15%);

// backgrounds
$background: $tomorrow-night;
$body-background-color: $tomorrow-night;
// $code-background: $black-ter;
// $pre-background: $code-background;
// $footer-background-color: $black-ter;
