.page-footer {
    color: $grey-light;
}

.terminal {
    color: lighten($green, 15%);
    font-weight: bold;
}

// ####### LINKS
@mixin underlined-link {
    border-bottom: 2px solid $purple;

    &:hover {
        border-bottom: 2px solid $yellow;
    }
}
@mixin plain-link {
    border-bottom: none;
}

// links should be underlined unless they are buttons or menus
a:not(.button) {
    @include underlined-link;
}

footer.page-footer a {
    @include plain-link;
}

nav a {
    @include plain-link;
}
